// Font
.title, .title-product {
    font-family: 'Permanent Marker', cursive;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size : 1.5rem;
}

// Taille de la police
.description{
    font-size: 0.6rem;
}

.price{
    font-size: 0.8rem;
}

.card-title{
    font-size: 1.2rem;
}
.description-product{
    font-size: 1rem;
}

.price-product{
    font-size: 1.8rem;
}

.title-product{
    font-size: 2rem;
}