.title{
    font-family: 'Permanent Marker', cursive;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size : 1.5rem;
}

.description{
    font-size: 0.6rem;
}

.price{
    font-size: 0.8rem;
}

.card-title{
    font-size: 1.2rem;
}