.bg-img{
background-image : url("../images/bg_camera.jpg");
}
.container-title{
padding : 7rem 0rem;

}
.navbar{
    position : sticky;
    top : 0px;
}

.logo{
    height:3.125rem;
}

.basket{
    height:1.25rem;
}
.nav-item:hover{
     border:0.1rem solid $warning; 
}
.footer{
    margin:auto;
}
